<div class="row row-cards">
  <div class="col-lg-3">
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-body">

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card">
      <table class="table card-table table-vcenter">
        <tbody>
          <% @access_controls.each do |access_control| %>
          <tr>
                        <td><%= access_control.ability_to_post_ads %></td>
                        <td><%= access_control.ability_to_post_blog %></td>
                        <td><%= access_control.ability_to_verify_ads %></td>
                        <td><%= access_control.ability_to_change_categories %></td>
                        <td><%= access_control.ability_to_change_faqs %></td>
                        <td><%= access_control.ability_to_change_roles %></td>
                        <td><%= access_control.ability_to_assign_roles %></td>
                        <td><%= access_control.uuid %></td>
                        <td><%= access_control.role_id %></td>
                        <td><%= link_to t(:show), access_control %></td>
            <td><%= link_to t(:edit), edit_access_control_path(access_control) %></td>
            <td><%= link_to t(:destroy), access_control, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
