<div class="card">
  <div class='card-header'>
    <%= sanitize @blog.title%>
    <div class='card-options'>
      <label class="custom-switch ml-2 mt-1" style='float: left;'>
        <input type="checkbox" name="view_<%=@blog.id%>" id='view_<%= @blog.id%>' <%if @blog.view_in_homepage%>checked<%end%> class="custom-switch-input">
        <span class="custom-switch-indicator"></span>
        <span class="custom-switch-description" style='font-size: 80%;'><%=t :view_in_the_first_page%></span>
      </label>
      <script>
      $('.custom-switch-input').change(function() {
        var id = $(this).attr('id').split("_")[1];
        if($(this).is(":checked")) {
          $.ajax({
            url: '/blogs/check/'+id,
            type: 'GET',
            dataType: 'json',
            data: {
              segment_id: id,
              to: 'check'
            },
            error: function() {
              $(this).attr("checked", false);
            },
            success: function(res) {
              $(this).attr("checked", true);
            }
          });
        } else {
          $.ajax({
            url: '/blogs/check/'+id,
            type: 'GET',
            dataType: 'json',
            data: {
              segment_id: id,
              to: 'uncheck'
            },
            error: function() {
              $(this).attr("checked", true);
            },
            success: function(res) {
              $(this).attr("checked", false);
            }
          });
        }
      });
      </script>
      <a href="/blogs/<%=@blog.uuid%>/edit" class='btn btn-secondary'><i class="fe fe-edit" style="vertical-align:-3px;"></i> <%=t :edit%></a>
    </div>
  </div>
  <div class='card-body'>
    <div id="blog">
      <%= sanitize @blog.content%>
    </div>
  </div>
</div>
