<div id="settings-detail">
  <div class="card-header">

  </div>
  <div class="card-body">
    <table class="table card-table table-striped table-vcenter">
      <thead>
        <tr>
          <th colspan="2"><%= :user%></th>
          <th>Commit</th>
          <th><%=t :submition_date%></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for advertisement in Advertisement.all.order('created_at desc')%>
        <tr>
          <td class="w-1"><span class="avatar" style="background-image: url(<%= advertisement.user.profile.image('thumb')%>)"></span></td>
          <td><%= truncate(advertisement.user.profile.name, length: 20)%></td>
          <td><%= truncate(advertisement.title, length: 20)%></td>
          <td class="text-nowrap">
            <% @jalali = JalaliDate.to_jalali(advertisement.created_at)%>
            <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
          </td>
          <td class="w-1"><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
