<div class='row'>
  <div class="col-lg-3 ">
    <div class="list-group list-group-transparent mb-4">
      <%= link_to '/settings/section?section=awaiting_ads', id: 'awaiting_ads-nav', class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true  do%>
      <i class="far fa-flag" style="vertical-align:-3px;"></i> <%=t :awaiting_advertisements%>
      <%end%>
      <%= link_to '/settings/section?section=categories', id: 'categories-nav', class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true  do%>
      <i class="far fa-folder" style="vertical-align:-3px;"></i> <%=t :categories%>
      <%end%>
      <%= link_to '/settings/section?section=faqs', id: 'faq-nav',class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true do%>
      <i class="fe fe-help-circle" style="vertical-align:-3px;"></i> <%=t :faqs%>
      <%end%>
    </div>
  </div>
  <div class="col-md-9 order-lg-1">
    <div class="card">
      <div id='settings-detail'></div>
      <div class='mb-4'></div>
    </div>
  </div>
</div>
