<div id='settings-detail'>
<%= form_tag '/categories', remote: true, method: :post do%>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
      <label class="form-label"><%=t :hotel_name%></label>
      <%= text_field_tag :title, nil , class: "form-control" %>
    </div>
  </div>
  <div class="col-md-2">
    <button type="submit" class="btn btn-primary" style="margin-top:26px"><%=t :submit%></button>
  </div>
</div>
<%end%>
<%= render partial: 'categories/list'%>
</div>
